
@import url('https://fonts.googleapis.com/css?family=Chewy');
*{
	padding: 0;
	margin:0;
}

	h1,label{
		
		text-align: center;
	}
	.conta{
		width: 500px;
		margin:auto;
		border: 5px radius #daa30d7e;
		padding: 40px;
		background: rgba(39, 202, 39, 0.322);
	
	
		margin-top: 100px;
		
	}
	body{
	    background-color: #06d5e4af;
	
	    margin:auto;
	    width: 90%;
	   /* background-repeat: no-repeat;*/
	}
	.error{
		color: rgb(105, 10, 214);
	}
	.enviar{
		background: #d07b36;
		color: rgb(241, 118, 16);
		border-radius:8px;
		height: 50px;
	}
	.form-control{
		border-bottom:3px solid #e6a62f;
		border-radius: 5em;
	}
hr{
	border: 4px solid #FF4B0C;
}
